html {
	font-family: "Noto Sans", "Open Sans", Arial, Helvetica, "Microsoft JhengHei", "Apple LiGothic Medium", sans-serif;
}

body {
	background-color: black;
	color: white;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	color: #0099CC;
	transition: color 0.3s ease-in-out;
}

a:hover {
	color: #99d6ea;
}

hr {
	width: 90%;
}

#page-wrapper {
	min-height: 100%;
}

#page-header {
	white-space: nowrap;
	overflow: hidden;
	display: none;
}

#page-header hr {
	width: 100%;
	margin: 0;
	margin-top: -15px;
	margin-bottom: 40px;
	padding: 0;
}

#page-content {
	padding-bottom: 100px;
	display: none;
}

#page-footer {
	position: absolute;
	height: 100px;
	margin: 0;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 0;
	text-align: center;
}

.btn {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: solid;
	border-color: white;
	border-width: 2px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	outline: none;
	transition: color 0.3s ease-in-out,
		background-color 0.3s ease-in-out;
}

.btn:hover {
	cursor: pointer;
}

.btn-default, .btn-no-edge {
	color: white;
	background-color: transparent;
}

.btn-default:hover, .btn-no-edge:hover {
	color: black;
	background-color: white;
}

.btn-default:active, .btn-no-edge:active {
	box-shadow: 0 2px 20px rgba(255, 255, 255, 0.5);
}

.btn-no-edge {
	border: none;
}

.btn-prev {
	display: none;
}

.container {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.page-title {
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: bolder;
	font-size: 50px;
}

.panel {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 300px;
}

.panel > .panel-header,
.panel > .panel-body {
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.panel > .panel-header {
	position: relative;
	top: -20px;
	width: 300px;
	height: 100%;
	margin-top: 0;
	margin-right: 20px;
}

.panel > .panel-body {
	height: 100%;
	overflow: hidden;
}

.panel > .panel-body > .panel-body-block {
	position: relative;
	left: 100%;
	width: 100%;
	display: inline-block;
}

.panel > .panel-navigation {
	display: block;
}

.panel > .panel-navigation > .btn {
	position: relative;
	font-size: 50px;
	color: gray;
	transition: font-size 0.3s ease-in-out;
}

.panel > .panel-navigation > .btn:hover {
	background-color: transparent;
	color: white;
	font-size: 70px;
}

.panel > .panel-navigation > .btn:active {
	box-shadow: none;
	font-size: 50px;
	transition: font-size 0.1s ease-in-out;
}

.panel > .panel-navigation > .btn-prev {
	float: left;
}

.panel > .panel-navigation > .btn-next {
	float: right;
}

.table {
	margin: 0;
	border: none;
}

.table th, .table td {
	padding: 5px;
	padding-left: 12px;
	padding-left: 12px;
}

.table th {
	text-align: left;
}

.table > thead > tr > th {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.table > caption {
	padding: 12px;
	padding-top: 0;
	padding-bottom: 10px;
	text-align: left;
	font-weight: bolder;
	font-size: 30px;
}

.thumbnail {
	height: calc(100% - 17px);
	border-color: gray;
	border-width: 1px;
	border-radius: 5px;
	border-style: solid;
	margin: 0;
	padding: 5px;
}

.thumbnail > img {
	max-width: 100%;
	max-height: 100%;
}