@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
	background-color: black;
	color: white;
}

body *:not(.fa) {
	font-family: 'Open Sans', Arial, sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	color: #0099CC;
	transition: color 0.3s ease-in-out;
}

a:hover {
	color: #99d6ea;
}

a:active {
	color: #4cb7db;
}

hr {
	width: 90%;
}

#page-wrapper {
	min-height: 100%;
}

#page-header {
	white-space: nowrap;
	overflow: hidden;
	display: none;
}

#page-header hr {
	width: 100%;
	margin: 0;
	margin-top: -15px;
	margin-bottom: 40px;
	padding: 0;
}

#page-content {
	padding-bottom: 100px;
	display: none;
}

#page-footer {
	position: fixed;
	margin: 0;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 0;
	opacity: 0;
}

.btn {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: solid;
	border-color: white;
	border-width: 2px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	outline: none;
	transition: color 0.3s ease-in-out,
		background-color 0.3s ease-in-out;
}

.btn:hover {
	cursor: pointer;
}

.btn-default, .btn-no-edge {
	color: white;
	background-color: transparent;
}

.btn-default:hover, .btn-no-edge:hover {
	color: black;
	background-color: white;
}

.btn-default:active, .btn-no-edge:active {
	box-shadow: 0 2px 20px rgba(255, 255, 255, 0.5);
}

.btn-no-edge {
	border: none;
}

.btn-prev {
	display: none;
}

.container {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.keyboard-key {
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	border-radius: 4px;
}

.page-title {
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: bolder;
	font-size: 50px;
}

.panel {
	margin: 0;
	padding: 0;
	width: 100%;
}

.panel > .panel-header,
.panel > .panel-body {
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	vertical-align: top;
}

.panel > .panel-header {
	position: relative;
	left: 0;
	top: 0;
	width: 300px;
	margin-top: 0;
	margin-right: 20px;
}

.panel > .panel-body {
	height: 100%;
	overflow: hidden;
}

.panel > .panel-body > .panel-body-block {
	position: relative;
	left: 100%;
	width: 100%;
	display: inline-block;
}

.page-navigator {
	width: 100%;
	display: block;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0.85);
	box-shadow: 0 3px 20px rgba(255, 255, 255, 0.3);
}

.page-navigator > .btn {
	position: absolute;
	font-size: 30px;
	color: rgba(255, 255, 255, 0.5);
	transition: font-size 0.3s ease-in-out,
		color 0.3s ease-in-out;
}

.page-navigator > .btn:hover {
	background-color: transparent;
	color: white;
}

.page-navigator > .btn:active {
	box-shadow: none;
	color: rgba(255, 255, 255, 0.25);
	transition: color 0.08s ease-in-out;
}

.page-navigator > .btn-prev {
	top: calc(50% - 27px);
	left: calc(50% - 180px);
}

.page-navigator > .btn-next {
	top: calc(50% - 27px);
	left: calc(50% + 150px);
}

.page-navigator > .tip-reminder {
	width: 300px;
	display: inline-block;
	overflow: hidden;
}

.page-navigator > .tip-reminder > :not(:nth-child(1)) {
	display: none;
}

.table {
	margin: 0;
	border: none;
	max-width: 1100px;
}

.table th, .table td {
	padding: 5px;
	padding-left: 12px;
	padding-left: 12px;
	vertical-align: top;
}

.table th {
	text-align: left;
}

.table th.wrapable {
	white-space: pre-wrap;
}

.table > thead > tr > th {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.table > caption {
	padding: 12px;
	padding-top: 0;
	padding-bottom: 10px;
	text-align: left;
	font-weight: bolder;
	font-size: 30px;
}

.thumbnail {
	height: calc(100% - 17px);
	border-color: gray;
	border-width: 1px;
	border-radius: 5px;
	border-style: solid;
	margin: 2px;
	margin-left: 1px;
	margin-right: 1px;
	padding: 5px;
	padding-bottom: 2px;
	display: inline-block;
	vertical-align: middle;
	transition: background-color 0.3s ease-in-out,
		box-shadow 0.3s ease-in-out;
}

.thumbnail-vertical {
	width: 95px;
	height: 140px;
}

.thumbnail img {
	max-width: 100%;
	max-height: 100%;
}

.thumbnail-responsive:hover {
	cursor: pointer;
	position: relative;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0 2px 20px rgba(255, 255, 255, 0.5);
}